<!DOCTYPE html>
<html>
<head>
  <title>Filtro de Consulta</title>
  <link rel="stylesheet" href="../public/css/estilo.css">
</head>

<style>
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  text-align: center;
  background-color: rgb(64, 190, 121);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: block;
  padding: 5px;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
  margin-bottom: 5px;
}

button[type="submit"] {
  display: block;
  margin-top: 10px;
}
</style>

<body>
  <h1>Filtro de Consulta</h1>

  <form action="/consultar" method="GET">
    <label for="equipe_casa">|Equipe Casa|</label>
    <input type="text" name="equipe_casa" id="equipe_casa">

    <label for="horario">|Horário|</label>
    <input type="text" name="horario" id="horario">

    <label for="equipe_visitante">|Equipe Visitante|</label>
    <input type="text" name="equipe_visitante" id="equipe_visitante">

    <label for="placar_casa">|Placar Casa|</label>
    <input type="number" name="placar_casa" id="placar_casa">

    <label for="placar_visitante">|Placar Visitante|</label>
    <input type="number" name="placar_visitante" id="placar_visitante">

    <label for="local">|Local|</label>
    <input type="text" name="local" id="local">

    <button style="cursor: pointer;" type="submit">Consultar</button>
  </form>
</body>
</html>