<!DOCTYPE html>
<html>
<head>
  <title>Copa do Mundo de Futebol Feminino</title>
  <link rel="stylesheet" href="css/estilo.css">
</head>
<body>
  <h1><%= "Bem-vindo à Página Inicial da Copa do Mundo de Futebol Feminino!" %></h1>

  <p>A Copa do Mundo de Futebol Feminino é um evento esportivo de destaque que reúne as melhores seleções femininas de futebol do mundo. Neste torneio, as jogadoras mostram seu talento, habilidades e determinação em busca do título de campeãs mundiais.</p>

  <p>Principais características do torneio:</p>
  <ul>
    <li>Jogos emocionantes e competitivos</li>
    <li>Talentos individuais e trabalho em equipe</li>
    <li>Empoderamento e visibilidade do futebol feminino</li>
    <li>Celebração da diversidade e inclusão no esporte</li>
  </ul>

  <a href="/calendario">Calendário de Jogos</a>
  <a href="/selecoes">Seleções Participantes</a>


</body>
</html>
