<!DOCTYPE html>
<html>
<head>
  <title>Copa do Mundo de Futebol Feminino</title>
  <link rel="stylesheet" href="../public/css/estilo.css">
</head>
<body>
  <h1 style="font-size: 35px; font-family: Verdana, Geneva, Tahoma, sans-serif;"><%= "Bem-vindo à Página Inicial da Copa do Mundo de Futebol Feminino!" %></h1>
<br>
  <p style="font-size: 20px;">A Copa do Mundo de Futebol Feminino é um evento esportivo de destaque que reúne as melhores seleções femininas de futebol do mundo. Neste torneio, as jogadoras mostram seu talento, habilidades e determinação em busca do título de campeãs mundiais.</p>

  <p style="font-size: 30px;">Principais características do torneio:</p>
  <ul>
    <li>Jogos emocionantes e competitivos</li>
    <li>Talentos individuais e trabalho em equipe</li>
    <li>Empoderamento e visibilidade do futebol feminino</li>
    <li>Celebração da diversidade e inclusão no esporte</li>
  </ul>

  <a href="/filtro">Reultados de jogos</a>

  <a href="/topo">Exibir Topo</a>
</body>
</html>
