<!DOCTYPE html>
<html>
<head>
  <title>Resultado da Consulta</title>
  <link rel="stylesheet" href="../public/css/estilo.css">
</head>
<body>
  <h1>Resultado da Consulta</h1>

  <% if (resultados.length > 0) { %>
    <ul>
      <% resultados.forEach((resultado) => { %>
        <li><%= resultado.nome %> - <%= resultado.idade %> anos</li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>Nenhum resultado encontrado.</p>
  <% } %>
</body>
</html>
