<!DOCTYPE html>
<html>
<head>
  <title>Resultado da Consulta</title>
  <link rel="stylesheet" href="css/estilo.css">
</head>
<body>
  <h1>Resultado da Consulta</h1>

  <% resultados.forEach((resultado) => { %>
    <p>Nome: <%= resultado.nome %></p>
    <p>Idade: <%= resultado.idade %></p>
    <hr>
  <% }) %>
</body>
</html>
