<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Resultados da Consulta</title>
  <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
  <h1>Resultados da Consulta</h1>
  <p>Parâmetros da consulta:</p>
  <p>Nome: <%= nome %></p>
  <p>Categoria: <%= categoria %></p>
  <!-- Exibir os resultados da consulta aqui -->
</body>
</html>
