<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Copa do Mundo de Futebol Feminino</title>
    <link rel="stylesheet" href="../public/css/estilo.css">
</head>
<body>
    <nav class="topo">
        <br>
        <ul>
            <li class="menu-item"><a href="/" style="font-family: cursive; font-size: 20px;">Início</a></li>
            <li class="menu-item"><a href="/resultado" style="font-family: cursive; font-size: 20px;">Tabela de Jogos</a></li>
            <li class="menu-item"><a href="/filtro" style="font-family: cursive; font-size: 20px;">Seleções</a></li>
        </ul>
    </nav>
